<div class="card {{post.class}}">
  <a href="/{{post.url}}">
    <div class="card-image">
      <img src="{{post.image}}" class="img-responsive" />
    </div>
    <div class="card-header">
      <div class="card-title">
          <div class="tcontent">{{post.title}}</div>
      </div>
    </div>
  </a>
  <div class="card-body">
    {{post.desc}}
    {% if post.date %}
    <i><small>{{post.date|string|truncate(15, false, '') }}</small></i>
    {% endif %}
  </div>
  <div class="card-footer">
  </div>
</div>
